# assign the entire repo to the maintainers team
* @beetbox/maintainers

# Specific ownerships:
/beets/metadata_plugins.py @semohr

/beetsplug/titlecase.py @henry-oberholtzer

/beetsplug/_utils/requests.py @snejus
/beetsplug/_utils/musicbrainz.py @snejus
/beetsplug/musicbrainz.py @snejus
