
# general hidden files/directories

.DS_Store
.sconsign*
.svn
.tox
.coverage

# file patterns

*.dylib
*.la
*.lo
*.o
*.pyc
*.pyo
*.so
*.tar.gz
*.tar.bz2
*~
*.project
*.pydevproject
*.ropeproject

# Project Specific patterns

dist/*
beets.egg-info/*
build/*
docs/_build/*
man
*.egg
