language: python

branches:
    only:
        - master

matrix:
    include:
        - python: 2.6
          env: {TOX_ENV: py26}
        - python: 2.7
          env: {TOX_ENV: py27cov, COVERAGE: 1}
        - python: pypy
          env: {TOX_ENV: pypy}
        - python: 2.7
          env: {TOX_ENV: docs, NONTEST: 1}
        - python: 2.7
          env: {TOX_ENV: flake8, NONTEST: 1}

# Get the infrastructure for running tests, and the non-Python (and external)
# deps. We only install dependencies from apt for actual test runs, not for
# docs and style checkers.
before_install:
    - "[ -z $NONTEST ] && travis_retry sudo apt-get update || true"
    - "[ -z $NONTEST ] && travis_retry sudo apt-get install -qq bash-completion mp3gain || true"
    - "[ ! -z $COVERAGE ] && travis_retry pip install coveralls || true"

# To install dependencies, tell tox to do everything but actually running the
# test.
install:
    - travis_retry pip install tox sphinx
    - travis_retry tox -e $TOX_ENV --notest

script: tox -e $TOX_ENV

# coveralls.io reporting, using https://github.com/coagulant/coveralls-python
# Only report coverage for one version.
after_success:
    - "[ ! -z $COVERAGE ] && coveralls || true"

notifications:
    irc:
        channels:
            - "irc.freenode.org#beets"
        use_notice: true
        skip_join: true
        on_success: change
        on_failure: always
