language: python
python:
    - "2.7"
    - "2.6"
    - "pypy"

branches:
    only:
        - master

install:
    - travis_retry pip install .
    - travis_retry pip install pylast flask responses
    # unittest backport on Python < 2.7
    - "[[ $TRAVIS_PYTHON_VERSION == '2.6' ]] && pip install unittest2 || true"
    - travis_retry sudo apt-get update
    - travis_retry sudo apt-get install -qq bash-completion

script: nosetests --with-coverage --cover-package=beets

# coveralls.io reporting, using https://github.com/coagulant/coveralls-python
# Only report coverage for one version.
before_script:
    - "[[ $TRAVIS_PYTHON_VERSION == '2.7' ]] && pip install coveralls || true"
after_success:
    - "[[ $TRAVIS_PYTHON_VERSION == '2.7' ]] && coveralls || true"

notifications:
    irc:
        channels:
            - "irc.freenode.org#beets"
        use_notice: true
        skip_join: true
