language: python
python:
    - "2.7"
    - "2.6"

branches:
    only:
        - master

install:
    - travis_retry pip install .
    - travis_retry pip install pylast flask
    # unittest backport on Python < 2.7
    - "[[ $TRAVIS_PYTHON_VERSION == '2.6' ]] && pip install unittest2"

script: nosetests --with-coverage --cover-package=beets

# coveralls.io reporting, using https://github.com/coagulant/coveralls-python
# Only report coverage for one version.
before_script:
    - "[[ $TRAVIS_PYTHON_VERSION == '2.7' ]] && pip install coveralls"
after_success:
    - "[[ $TRAVIS_PYTHON_VERSION == '2.7' ]] && coveralls"
