version: "{build}"
build: off
deploy: off

environment:
    # Undocumented feature of nose-show-skipped.
    NOSE_SHOW_SKIPPED: 1

    matrix:
        - PYTHON: C:\Python27
          TOX_ENV: py27-test
        - PYTHON: C:\Python33
          TOX_ENV: py33-test
        - PYTHON: C:\Python34
          TOX_ENV: py34-test
        - PYTHON: C:\Python35
          TOX_ENV: py35-test

# Install Tox for running tests.
install:
    - "%PYTHON%/Scripts/pip.exe install tox"
    - "%PYTHON%/Scripts/tox.exe -e %TOX_ENV% --notest"

test_script:
    - "%PYTHON%/Scripts/tox.exe -e %TOX_ENV%"

# Allow all failures for now: the tests don't yet pass!
matrix:
    allow_failures:
        - TOX_ENV: py33-test
        - TOX_ENV: py34-test
        - TOX_ENV: py35-test
