version: "{build}"
build: off
deploy: off
skip_commits:
    # add [appveyor skip] as an alias for [skip appveyor] (like [ci skip])
    message: /\[appveyor skip\]/

environment:
    matrix:
        - PYTHON: C:\Python27
          TOX_ENV: py27-test
        - PYTHON: C:\Python36
          TOX_ENV: py36-test
        - PYTHON: C:\Python37
          TOX_ENV: py37-test

# Install Tox for running tests.
install:
    - appveyor-retry cinst imagemagick -y
    # TODO: remove --allow-empty-checksums when unrar offers a proper checksum
    - appveyor-retry cinst unrar -y --allow-empty-checksums
    - 'appveyor-retry %PYTHON%/Scripts/pip.exe install "tox<=3.8.1"'
    - "appveyor-retry %PYTHON%/Scripts/tox.exe -e %TOX_ENV% --notest"

test_script:
    - "%PYTHON%/Scripts/tox.exe -e %TOX_ENV%"
