#header {
    margin-top: 10px;
}
#header.leader {
    margin-top: 20px;
    height: 7em;
}
.fixed-header {
    display: none;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #header.leader {
        height: auto;
        margin-bottom: 10px;
    }
    .rotating-header {
        display: none;
    }
    .fixed-header {
        display: block;
    }
}

.flair {
    margin-top: 1em;
    text-align: center;
}

li {
    color: inherit;
}
ul, ol {
    margin-bottom: 1em;
}

.screen p:first-of-type {
    margin-top: 1em;
}

#twitterStatus {
    margin-bottom: 0;
}
#twitterStatus, #twitterStatus li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
#twitterStatus li {
    margin-bottom: 0.5em;
}
#twitterStatus .date {
    font-weight: bold;
    font-size: small;
    display: block;
    color: #999;
}

/* Responsive video embed.
 * http://amobil.se/2011/11/responsive-embeds/
 */
.embed {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Undo Bootstrap's form styling for donate buttons. */
#donate input[type=image] {
    width: auto;
    height: auto;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#donate input[type=text] {
    width: 5em;
}
