# Exclude tests from the source distribution. They require resources
# that make the distribution heavier than it needs to be.
prune test

# Include documentation.
include LICENSE NEWS README.rst

# Resources for web plugin.
recursive-include beetsplug/web/templates *
recursive-include beetsplug/web/static *

# And for the lastgenre plugin.
include beetsplug/lastgenre/genres.txt
