# Include tests (but avoid including *.pyc, etc.)
prune test
recursive-include test/rsrc *
include test/*.py

# Include relevant text files.
include LICENSE README.rst
# And generated manpages.
include man/beet.1
include man/beetsconfig.5

# Include the Sphinx documentation.
recursive-include docs *.rst *.py Makefile *.png
prune docs/_build

# Resources for web plugin.
recursive-include beetsplug/web/templates *
recursive-include beetsplug/web/static *

# And for the lastgenre plugin.
include beetsplug/lastgenre/genres.txt
include beetsplug/lastgenre/genres-tree.yaml

# Exclude junk.
global-exclude .DS_Store
