<!DOCTYPE html>
<html>
    <head>
        <title>
            beets:
            {% if page.shorttitle %}
                {{ page.shorttitle }}
            {% else %}
                {{ page.title }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/beets.css">
        {% if page.section == 'main' %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="beets.js"></script>
        {% endif %}

        <link rel="alternate" href="/blog/atom.xml" type="application/atom+xml">

        <!-- Flattr button code -->
        <script type="text/javascript">
            (function() {
                var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
                t.parentNode.insertBefore(s, t);
            })();
        </script>

        <!-- Google Analytics -->
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11763891-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% if page.section == 'main' %}
                <div class="span12 leader" id="header">
                    <h1 class="rotating-header">
                        Beets is
                        <span id="beetsis">the media library management system
                            for obsessive-compulsive music geeks.</span>
                    </h1>
                    <h1 class="fixed-header">
                        Beets is the media library management system for
                        obsessive-compulsive music geeks.
                    </h1>
                </div>
                {% else %}
                <div class="span12" id="header">
                    <h1>
                        {% if page.section == 'blog' %}
                        The beets blog: {{ page.title }}.
                        {% else %}
                        {{ page.title }}
                        {% endif %}
                    </h1>
                </div>
                {% endif %}
            </div>

            <div class="row">

                <div class="span8 screen" id="{{ page.section }}">
{% if page.section == 'main' %}
<div class="embed">
    <iframe width="560" height="345" src="http://www.youtube.com/embed/ZaqJmjM23D0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
{% endif %}
{{ content }}
{% if page.section == 'blog' %}
<p class="articleFooter">
Have comments or questions?
<a href="mailto:adrian@radbox.org">Send me an email</a>,
tweet at <a href="http://twitter.com/b33ts">@b33ts</a>,
or <a href="http://news.ycombinator.com/submitlink?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&t={{ page.title | cgi_escape }}">discuss on Hacker News</a>.
</p>
{% endif %}
                </div>

                <div class="span4" id="sidebar">
<!-- SIDEBAR -->
{% if page.section != 'main' %}
<section>
<h3><a href="/">This is Beets</a></h3>
<p>
    Beets is the media library management system for obsessive-compulsive music
    geeks. <a href="http://www.youtube.com/watch?v=ZaqJmjM23D0">Watch a
        screencast</a> to learn more.
</p>
</section>
{% endif %}
<section>
<h3>Get Beets</h3>
<p>
    Install with <a
        href="http://www.pip-installer.org/">pip</a>
    by typing <code>pip install beets</code>,
    then read the
    <a href="http://readthedocs.org/docs/beets/-/guides/main.html">Getting
    Started</a> guide.
</p>
</section>
<section>
<h3>Project</h3>
<ul>
    <li>
        <a href="http://github.com/sampsyo/beets">github</a>,
        <a href="http://bitbucket.org/adrian/beets">bitbucket</a>
    </li>
    <li><a href="http://beets.readthedocs.org/">documentation</a></li>
    <li><a href="http://code.google.com/p/beets/issues/list">bug tracker</a></li>
    <li><a href="http://groups.google.com/group/beets-users">mailing
        list</a></li>
    <li><a href="/blog/">blog</a>, <a href="/blog/atom.xml">atom</a></li>
    <li><a href="irc://irc.freenode.net/beets">#beets on
        freenode</a></li>
</ul>
</section>
<section>
<h3>
    <a href="/blog/">Blog</a>
    <a href="/blog/atom.xml" class="feed-icon">
        <img src="/images/feed.png" width="14" height="14" alt="Atom feed">
    </a>
</h3>
<ul id="blogSidebar" class="newslist">
{% for post in site.posts limit:3 %}
<li>
    <span class="date">{{ post.date | date: '%B %e' }}:</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
<p id="tease">
    <a href="/blog/">all posts&hellip;</a>
</p>
</section>
<section>
{% if page.section == 'main' %}
<h3><a href="http://twitter.com/b33ts">News from @b33ts</a></h3>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#0088cc'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('b33ts').start();
</script>
{% else %}
<p id="twitterFollow">
    <a href="http://twitter.com/b33ts" class="twitter-follow-button">Follow @b33ts</a>
</p>
{% endif %}
</section>
<section>
<h3>Contact</h3>
<p>
    Email <a href="mailto:adrian@radbox.org">Adrian Sampson</a> with comments, questions, and fan mail.
    You can <a href="/donate.html">donate with PayPal or Amazon</a>,
    but please consider a donation to
    <a href="https://www.unpac.org/donate/">unPAC</a> instead.
    Thanks!
</p>
</section>
<section class="flair">
<!-- tweet button -->
<a href="http://twitter.com/share" class="twitter-share-button"
data-text="Beets: an awesome open-source music library manager and MusicBrainz tagger."
data-count="none" data-via="b33ts"
data-url="http://beets.radbox.org/">tweet beets</a>
<script type="text/javascript"
src="http://platform.twitter.com/widgets.js"></script>

<!-- google +1 button -->
<g:plusone count="false" size="medium"
href="http://beets.radbox.org/"></g:plusone>

<!-- flattr button -->
<a class="FlattrButton" style="display:none;"
    rev="flattr;button:compact;" href="http://beets.radbox.org/"></a>
</section>

                </div>

            </div>
        </div>

        <a id="fork-me" href="https://github.com/sampsyo/beets">Fork me on GitHub</a>
        <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    </body>
</html>
