<!DOCTYPE html>
<html>
    <head>
        <title>
            beets: {% if page.shorttitle %}{{ page.shorttitle | xml_escape }}
            {% else %}{{ page.title | xml_escape }}{% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/beets.css">
        {% if page.section == 'main' %}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sampsyo/emfed@main/toots.css"> <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="beets.js"></script>
        {% endif %}

        <link rel="alternate" href="/blog/atom.xml" type="application/atom+xml">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% if page.section == 'main' %}
                <div class="col-md-12 leader" id="header">
                    <h1 class="rotating-header">
                        Beets is
                        <span id="beetsis">the media library management system
                            for obsessive music geeks.</span>
                    </h1>
                    <h1 class="fixed-header">
                        Beets is the media library management system for
                        obsessive music geeks.
                    </h1>
                </div>
                {% else %}
                <div class="col-md-12" id="header">
                    <h1>
                        {% if page.section == 'blog' %}
                        The beets blog: {{ page.title | xml_escape }}.
                        {% else %}
                        {{ page.title | xml_escape }}
                        {% endif %}
                    </h1>
                </div>
                {% endif %}
            </div>

            <div class="row">

                <div class="col-md-8 screen" id="{{ page.section }}">
{% if page.section == 'main' %}
<div class="embed">
    <iframe width="560" height="345" src="https://www.youtube.com/embed/ZaqJmjM23D0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
{% endif %}
{{ content }}
{% if page.section == 'blog' %}
<p class="articleFooter">
This post was published on {{ page.date | date: '%B %-d, %Y' }}.
Have comments or questions?
Post on
<a href="https://github.com/beetbox/beets/discussions">the discussion board</a>,
toot at <a href="https://fosstodon.org/@beets">@beets@fosstodon.org</a>,
or <a href="http://news.ycombinator.com/submitlink?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&t={{ page.title | cgi_escape }}">discuss on Hacker News</a>.
</p>
{% endif %}
                </div>

                <div class="col-md-4" id="sidebar">
<!-- SIDEBAR -->
{% if page.section != 'main' %}
<section>
<h3><a href="/">This is Beets</a></h3>
<p>
    Beets is the media library management system for obsessive music
    geeks. <a href="https://www.youtube.com/watch?v=ZaqJmjM23D0">Watch a
        screencast</a> to learn more.
</p>
</section>
{% endif %}
<section>
<h3>Get Beets</h3>
<p>
    Install with <a
        href="https://pip.pypa.io/en/stable/getting-started/">pip</a>
    by typing <code>pip install beets</code>,
    then read the
    <a href="https://beets.readthedocs.io/en/stable/guides/main.html">Getting
    Started</a> guide.
</p>
</section>
<section>
<h3>Project</h3>
<ul class="project">
    <li>
        <a href="https://github.com/beetbox/beets">github</a>
    </li>
    <li><a href="https://beets.readthedocs.io/">documentation</a></li>
    <li><a href="https://beets.readthedocs.io/en/stable/faq.html">FAQ</a></li>
    <li><a href="https://github.com/beetbox/beets/issues">bug tracker</a></li>
    <li><a href="https://github.com/beetbox/beets/discussions">discussion board</a></li>
    <li><a href="/blog/">blog</a>, <a href="/blog/atom.xml">atom</a></li>
    <li><a href="irc://irc.libera.chat/beets">#beets on
        libera.chat</a></li>
    <li><a href="/donate.html">donate</a></li>
</ul>
</section>
<section>
<h3>
    <a href="/blog/">Blog</a>
    <a href="/blog/atom.xml" class="feed-icon">
        <img src="/images/feed.png" width="14" height="14" alt="Atom feed">
    </a>
</h3>
<ul id="blogSidebar" class="newslist">
{% for post in site.posts limit:3 %}
<li>
    <span class="date">{{ post.date | date: '%B %e' }}:</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
<p id="tease">
    <a href="/blog/">all posts&hellip;</a>
</p>
</section>
<section>
{% if page.section == 'main' %}
<h3><a href="https://fosstodon.org/@beets">News from @beets</a></h3>
<a class="mastodon-feed"
   href="https://fosstodon.org/@beets"
   data-toot-limit="2"
   data-toot-account-id="109332607990239837"
   >@beets@fosstodon.org</a>
{% endif %}
</section>
<section>
<h3>Contact</h3>
<p>
    Need help with beets?
    Have comments or questions?
    Post on <a href="https://github.com/beetbox/beets/discussions">the discussion board</a> or
    <a href="https://github.com/beetbox/beets/issues/new">file an issue on GitHub</a>.
    You can <a href="/donate.html">donate with PayPal or Bitcoin</a>,
    but please consider a donation to
    <a href="https://movetoamend.org/donate">Move to Amend</a>
    instead.
    Thanks!
</p>
</section>
<section class="flair">
<!-- flattr button -->
<a class="FlattrButton" style="display:none;"
    rev="flattr;button:compact;" href="http://beets.radbox.org/"></a>
</section>
                </div>

            </div>
        </div>

        <!-- "Fork me on GitHub" ribbon. -->
        <a id="fork-me" href="https://github.com/beetbox/beets">Fork me on GitHub</a>

        <!-- Mastodon feed embed. -->
        <script type="module" src="https://esm.sh/emfed"></script>

        <!-- Google Analytics -->
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11763891-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>
